<header id="header">
    <!-- 상단 배너 -->
    <div class="header_top_banner">
        <div class="inner">
            <a href="#">
                <img src="./img/header/top-banner.jpg" alt="교보문고 상단 배너">
            </a>
        </div>
    </div>

    <!-- 브랜드 / 유틸 메뉴 -->
    <div class="header_brand_bar">
        <div class="inner header_brand_inner">
            <div class="brand_links">
                <a href="#" class="active">교보문고</a>
                <a href="#">eBook</a>
                <a href="#">sam</a>
                <a href="#">핫트랙스</a>
                <a href="#">스토리</a>

                <div class="brand_more_wrap">
                    <span class="brand_more_text">브랜드 더보기</span>
                    <button type="button" class="brand_more_toggle" aria-label="브랜드 더보기 열기"
                        aria-expanded="false"></button>

                    <div class="brand_more_menu">
                        <a href="#" class="brand_more_item">
                            <span class="brand_more_icon">↗</span>
                            <span>바로출판</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="user_links">
                <a href="#">회원가입</a>
                <a href="#">로그인</a>
                <a href="#">회원혜택</a>
                <a href="#">주문배송</a>
                <a href="#">매장안내</a>
                <a href="#">고객센터</a>
            </div>
        </div>
    </div>

    <!-- 로고 / 검색 / 아이콘 -->
    <div class="header_main">
        <div class="inner header_main_inner">
            <h1 class="logo">
                <a href="./index.html">
                    <img src="./img/header/logo.svg" alt="교보문고">
                </a>
            </h1>

            <div class="search_area">
                <form class="search_form">
                    <div class="search_category">통합검색</div>
                    <input type="text" placeholder="운동 없이 체지방만 태우는 기적의 식사법!">
                    <button type="submit" class="search_btn" aria-label="검색">
                        <img src="./img/header/icon-finder.png" alt="검색">
                    </button>
                </form>
            </div>

            <div class="header_icons">
                <a href="#" class="icon_link cart_icon">
                    <img src="./img/header/icon-cart.png" alt="장바구니">
                </a>
                <a href="#" class="icon_link my_icon">
                    <img src="./img/header/icon-my.png" alt="마이페이지">
                </a>
            </div>
        </div>
    </div>

    <!-- GNB 메뉴 -->
    <div class="header_gnb">
        <div class="inner header_gnb_inner">
            <div class="gnb_left">
                <button type="button" class="menu_btn" aria-label="전체메뉴">☰</button>

                <nav class="gnb_menu">
                    <ul>
                        <li><a href="#" class="point">오늘부터1권</a></li>
                        <li><a href="#" class="point">새학기혜택</a></li>
                        <li><a href="#">베스트</a></li>
                        <li><a href="#">신상품</a></li>
                        <li><a href="#" class="point">이벤트</a></li>
                        <li><a href="#">바로펀딩</a></li>
                        <li><a href="#">PICKS</a></li>
                        <li><a href="#">CASTing</a></li>
                        <li class="has_sub">
                            <a href="#">컬처라운지</a>
                            <button type="button" class="sub_toggle" aria-label="서브메뉴 열기">+</button>

                            <ul class="sub_menu">
                                <li><a href="#">바로드림</a></li>
                                <li><a href="#">오늘의 선택</a></li>
                                <li><a href="#">책 그리고 꽃</a></li>
                                <li><a href="#">이달의 책</a></li>
                                <li><a href="#">기프트카드</a></li>
                                <li><a href="#">문화공간</a></li>
                                <li><a href="#">베스트리뷰</a></li>
                                <li><a href="#">수준별원서읽기</a></li>
                                <li><a href="#">POD</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="gnb_right">
                <a href="#">오늘의 미션</a>
                <a href="#">할인혜택</a>
                <a href="#">세계 시의 날</a>
            </div>
        </div>
    </div>
</header>