<section class="main_best_section">
    <div class="inner">
        <div class="main_best_wrap">

            <aside class="main_best_side">
                <div class="main_best_head">
                    <h3 class="main_best_title">베스트</h3>
                    <a href="#" class="main_best_more">더보기 <span>+</span></a>
                </div>

                <div class="main_best_nav_group">
                    <ul class="main_best_nav">
                        <li><a href="#" class="is_active">전체</a></li>
                        <li><a href="#">국내도서</a></li>
                        <li><a href="#">외국도서</a></li>
                        <li><a href="#">eBook</a></li>
                        <li><a href="#">sam</a></li>
                        <li><a href="#">핫트랙스</a></li>
                        <li><a href="#">교보only</a></li>
                    </ul>
                </div>

                <div class="main_best_nav_group type_second">
                    <h4 class="main_best_subtitle">스테디셀러</h4>
                    <ul class="main_best_nav">
                        <li><a href="#">국내도서</a></li>
                        <li><a href="#">외국도서</a></li>
                    </ul>
                </div>
            </aside>

            <div class="main_best_content">
                <ul class="main_best_grid" id="bestBookList"></ul>
            </div>

        </div>
    </div>
</section>